@model IEnumerable<FinalProjectKidsHealthCenter.Models.VaccineCampingTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MinistryRepresentator.MR_FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VC_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VC_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VC_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VC_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MinistryRepresentator.MR_FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VC_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VC_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VC_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VC_ID })
        </td>
    </tr>
}

</table>
