@model FinalProjectKidsHealthCenter.Models.VaccineCampingTranasaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VaccineCampingTranasaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildTable.Child_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildTable.Child_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTable.EMP_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTable.EMP_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineCampingTable.VC_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineCampingTable.VC_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
