@model IEnumerable<FinalProjectKidsHealthCenter.Models.DissessesTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VaccineTable.DoseRoute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Di_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DI_SideEffect)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VaccineTable.DoseRoute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Di_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DI_SideEffect)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Di_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Di_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Di_ID })
        </td>
    </tr>
}

</table>
