@model IEnumerable<FinalProjectKidsHealthCenter.Models.MinistryRepresentator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenderTable.GenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR_FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR_MiniName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR_LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR_PhoneNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenderTable.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR_FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR_MiniName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR_LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR_PhoneNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MR_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MR_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MR_ID })
        </td>
    </tr>
}

</table>
