@model FinalProjectKidsHealthCenter.Models.RelativeTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RelativeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaTable.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaTable.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CovernorateTable.CovernorateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CovernorateTable.CovernorateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderTable.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderTable.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeighborhoodTable.NeighborhoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeighborhoodTable.NeighborhoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_MiniName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_MiniName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Re_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Re_Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
