@model FinalProjectKidsHealthCenter.Models.VaccineTranasactionTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VaccineTranasactionTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildTable.Child_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildTable.Child_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTable.EMP_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTable.EMP_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineTable.DoseRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineTable.DoseRoute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
